
    <!--HOME LINK-->
    <p><a href="/">Back to Home</a></p>
    
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h1>{{character.name}}</h1>
            <h2>{{character.episode}}</h2>
            <p>{{character.origin}}</p>
    </div>

    <p><a href="/character/{{character._id}}/edit">Edit</a></p>

    <!-- Delete button -->
    <p>
        <form method="POST" action="/character/{{character._id}}?_method=DELETE">
            <button type="submit">Delete</button>
        </form>
    </p>

