<<<<<<< HEAD
<h1>Characters</h1>

<div class="row">
    {{#each characters }}
    <div class="col-sm-3">
        <h2><a href="/character/{{this._id}}">{{this.name}}</a></h2>
        <small>{{this.episode}}</small>
        <small>{{this.origin}}</small>
    </div>
    {{/each}}
</div>
=======
 <h1>Character List</h1>

{{#each character}}

<a href="/character/{{this.id}}" class="thumbnail">
<li>{{this.name}}</li> </a>
{{/each}}


>>>>>>> master
